@import 'colors.css';
@import 'animations/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.gradient-background {
		background: linear-gradient(0deg, #0d001b 0%, #5301a4 100%);
	}
	.text-stroke {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 0.5px;
	}
	.text-stroke-1 {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px;
	}
}
