@import 'colors.css';
@import 'animations/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.badge {
		@apply flex flex-wrap gap-y-1 justify-center md:justify-start items-center self-center xl:self-start text-base md:xl:text-xl  text-center md:text-start bg-badge px-5 py-2.5 rounded-[40px];
	}
	.clock {
		@apply !w-8 !h-8 md:!w-10 md:!h-10;
	}
}

@layer utilities {
	.m-section-container {
		@apply mx-4 sm:mx-10 md:mx-12 lg:mx-16 xl-high:mx-28;
	}
	.p-section-container {
		@apply m-section-container px-4 sm:px-8 xl:px-10 2xl:px-14;
	}
	.section-container {
		@apply p-section-container border-x border-white/10;
	}
	.gradient-background {
		background: linear-gradient(0deg, #0d001b 0%, #5301a4 100%);
	}
	.gradient-background-dark {
		background: linear-gradient(0deg, #000 0%, #37006c 100%);
	}
	.text-stroke {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 0.5px;
	}
	.text-stroke-1 {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px;
	}
}

::-webkit-scrollbar {
	width: 12px !important;
}

::-webkit-scrollbar-track {
	background: black !important;
}

::-webkit-scrollbar-thumb {
	background: white !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}

html {
	scrollbar-color: black white !important;
	scrollbar-width: thin !important;
}

svg,
svg *:focus {
	outline: none !important;
}

.ph-loader, .ph-backdrop {
	display: none;
}